registry=https://registry.npmjs.org/
@business-app:registry=https://msazure.pkgs.visualstudio.com/_packaging/business-app/npm/registry/
@business-app:always-auth=true

registry=https://registry.npmjs.org/
@dev:registry=https://msazure.pkgs.visualstudio.com/_packaging/Dev/npm/registry/
always-auth=true